body{
    width: 98vw;
    height: 98vh;
}
img{
    width: 222px;
    border: 1.5px solid black;
    border-radius: 8px;
    background-size: contain !important;
    background-position: center;
}

.cxmae{
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#cx{
    width: 300px;
    height: 125px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    border: 1.5px solid black;

}

.danfe{

    padding-left: 40px;

}

#registrotitle {
    font-size: 2.3vh !important;
}

#registro {
    font-size: 2.1vh !important;
}

@media print {

    #registrotitle {
        font-size: 1em !important;
    }

    #registro {
        font-size: 0.8em !important;
    }
}

@media screen and (max-width: 768px) {

  @media print {
    #btn_imprimir {
        display: none;
    }
  }

    body{
        overflow-x: hidden;
    }

    #print-content {
      padding: 2rem; /* Adiciona mais espaço interno ao conteúdo principal */
    }
  
    .grid {
      grid-template-columns: 1fr; /* Altera o layout para uma única coluna */
    }
  
    .cxmae {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centraliza os elementos verticalmente */
    }

    .cx{
        margin-top: 1.5rem;
    }
  
    .infoEmissorDest {
      padding: 1rem; /* Adiciona mais espaço interno */
    }
  
    .infoEmissorDest hr {
      margin: 1rem 0; /* Adiciona espaço ao redor da linha horizontal */
    }
  
    .flex.justify-between {
      flex-direction: column; /* Altera o layout dos elementos para uma coluna */
      align-items: center; /* Centraliza os elementos verticalmente */
    }
  
    .flex.justify-end {
      margin-top: 1rem; /* Adiciona espaço acima do botão */
    }
  
    table {
      overflow-x: auto; /* Adiciona rolagem horizontal à tabela se necessário */
    }
  
    table th,
    table td {
      font-size: 0.6rem; /* Reduz o tamanho da fonte nas células da tabela */
    }
  
    /* Estilos para o botão de impressão */
    button {
      width: 100%; /* Faz o botão ocupar toda a largura disponível */
    }
  }
  