@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/fox-bebas');
@import url('https://fonts.cdnfonts.com/css/cairo-2?styles=20065,20063,20064,20066,20062,20061');
/*font-family: 'Oswald', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Fox Bebas', sans-serif;*/

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-weight: 400;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    width: 95vw;
    height: 95vh;

    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10px;

    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 0.5px solid rgb(0, 0, 0);  

      /* width */
::-webkit-scrollbar {
    width: 15px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(206, 202, 202, 0.979); 
    border-radius: 20px;
  }
  
}

.select-dropdown {
  height: 150px;
  color: black;
}

#tabs-swipe-demo{
  width: 94.5vw;
 text-align: center;

}

.tabs {
    border-radius: 10px; /* Borda arredondada */
    /*overflow: hidden; /* Evita que as abas ultrapassem a borda */
}

.tabs .tab a {
    border: none; /* Remove a borda padrão dos links */
    color: black; /* Cor do texto das abas */
}


.tabs .indicator {
    background-color: transparent; /* Cor da linha indicadora como transparente */
}

.carousel{
  height: 95vh !important;
}

.Abas{
  border-radius: 0 0 10px 10px !important;
  background-color: white !important;
  color: white !important;
}

.forms{
  color: white !important;
  padding: 20px;
}
.forms label{
  color: black;
}

.row{
  background-color: transparent !important;
}

::placeholder {
  color: black;
}

#Danfe {
  border-top: 1px solid black;
  border-radius: 0 0 10px 10px !important; 
  height: 10vh; 
  margin-bottom: 2vh; 
  padding-bottom:11vh;
  text-align: center; 
  color: black !important;
}

label{ color: black !important;}

#botoesExtras {
  top: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo com opacidade */
  padding: 10px;
  z-index: 1; /* Para garantir que fique acima do restante do conteúdo */
}


#dadosProduto {

 /* Aplica regras específicas quando a largura do main é menor que 500px */
 @media (max-width: 500px) {
  /* Use as propriedades do main para ajustar #dadosProduto */
  max-width: 150px;

 }

}

@media only screen and (min-width: 769px) {

  #ListaProdutosMobile {
    display: none;
  }
  
}

@media only screen and (max-width: 768px) {

  #tabs-swipe-demo {
    padding-bottom: 4.2rem;
    margin-bottom: 0.5rem;
  }

   /* width */
::-webkit-scrollbar {
  height: 12px !important;
  width: 12px !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(206, 202, 202, 0.979); 
    border-radius: 20px;
  }

  #tabs-swipe-demo .tab {
    width: 100%; /* Altera a largura das abas para ocupar toda a largura */
  }

  .Abas {
      padding: 10px; /* Adiciona um espaçamento interno nas abas */
  }

  .input-field.col {
      width: 100% !important; /* Faz os campos de entrada ocuparem toda a largura */
  }

  #Danfe {
    flex-direction: column !important; /* Coloca os itens verticalmente */
    height: 10rem !important;
    overflow-y: auto;
  }

  #Danfe .tab.col {
    width: 100% !important; /* Define a largura das abas da seção Danfe para 100% */
    margin-bottom: 2rem;
  }

  #Danfe .tab.col {
    width: 96.8% !important; /* Define a largura das abas da seção Danfe para 100% */
    padding-left: 1rem;
  }

  #Danfe .input-field.col:not(:last-of-type) {
      margin-bottom: 2rem;
  }

  #Danfe .browser-default{
    max-width: 20rem;
  }

  #Danfe label {
      margin-left: 0.75rem;
  }

  #data_emissao {
      margin-left: 0 !important; /* Remove a margem esquerda do campo data_emissao */
  }

  #tabs-swipe-demo, #Danfe {
      overflow-x: auto; /* Adiciona rolagem horizontal caso o conteúdo ultrapasse a largura da tela */
  }

  #botoesExtras {
      display: flex;
      flex-direction: column; /* Alinha os botões verticalmente */
      align-items: center; /* Centraliza os botões horizontalmente */
      gap: 1rem;
  }
  #modalMensagem {
      width: 90%; /* Define a largura do modal para 90% da largura da tela */
  }

  /* Adiciona scroll à área de produtos */
  #Produto {
    overflow-y: auto;
    max-height: 800px; /* Altura máxima para exibir o scroll */
  }

  /* Adiciona scroll horizontal e vertical à área de produtos */
  #dadosProduto {
    overflow-x: auto; /* Adiciona rolagem horizontal */
    overflow-y: auto; /* Adiciona rolagem vertical */
    max-width: 750px; /* Altura máxima para exibir o scroll vertical */
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
  }

  #dadosProduto th {
    font-size: 0.9rem;
    padding: 0.3rem;
  }

  #dadosProduto td {
    font-size: 0.9rem;
  }

  /* Ajustes na tabela de produtos */
  #tabelaProdutos {
   display: none;
  }

  .produto-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .produto-item div {
    margin-bottom: 5px;
  }

  .produto-item button {
    display: block;
    margin-top: 10px;
  }

  /* Ajustes na área da DANFE */
  #Danfe .tab.col.s6 {
      width: 100% !important; /* Define a largura das abas da DANFE para 100% */
      margin-bottom: 10px; /* Adiciona um espaçamento inferior entre as abas */
  }

}